:root {
  --btn-color: #596d48;
  --input-border: #e5e7eb;
}

body {
  margin: 0;
}

@font-face {
  font-family: norse-bold;
  src: url(assets/Norse-Bold.otf);
}

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
}
.first {
  position: relative;
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  height: 100vh;
  width: 40vw;
  background-image: url("assets/back.jpg");
  background-size: cover;
}

.logo {
  position: relative;
  background-color: black;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  display: flex;
  flex-direction: row;
  height: 15vh;
  column-gap: 1vw;
  flex: 1;
  margin: 0 auto;
}

.logo > div > p {
  font-family: norse-bold, sans-serif;
  color: white;
  font-size: 5em;
  margin: 0;
  position: relative;
  flex: center;
  text-align: center;
  justify-content: center;
}

.logo .img-container {
  height: 100%;
  width: auto;
}

.logo img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.right {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 58vw;
  height: 100vh;
  background-color: white;
}

/* form {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: center;
  width: 40vw;
} */

form > div {
  width: 30vw;
  box-shadow: 0px 1px 15px black;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
  justify-content: center;
  border-radius: 0.4em;
  gap: 15px;
  padding: 20px;
}

form > div > div {
  display: flex;
  flex-grow: 0.5;
  flex-shrink: 0.5;
  flex-direction: column;
}

/* form > div > div {
  flex: 1;
} */

form > button {
  background-color: var(--btn-color);
  color: white;
  border-radius: 0.5em;
  border-color: var(--input-border);
  font-weight: bold;
  padding: 1% 5%;
  margin-top: 5%;
}

label {
  text-transform: uppercase;
  color: gray;
  display: block;
  text-align: start;
}

input {
  border-color: var(--input-border);
  border-style: groove;
  border-radius: 0.3em;
}

input:focus {
  border-style: solid;
  border-color: blue;
}

input:valid {
  border-color: green;
}

form > p > a {
  font-weight: bold;
  text-decoration: none;
  color: var(--btn-color);
}

form > div > div + p {
  color: red;
}

.hidden {
  display: none;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .container > div {
    width: 100vw;
  }
  form > div {
    width: 70vw;
  }

  .logo {
    /* position: relative; */
    height: 15vh;
  }

  .first {
    height: 40vh;
  }
}
